/* The Modal (background) */
.modalContainer {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    min-width: 98%; 
    min-height: 100%; 
    overflow: auto; 
    background-color: lightgray;
    margin: 1%;
}

.modalContent {
    margin: auto;
    padding:1%;
    width: 100%;
    background-color: transparent;
}

/* The Close Button */
.modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}