.search{
    border: 1px solid #04032C;
    float: none;
    display: block;
    text-align: left;
    width: 96%;
    margin: 0;
    padding: 2%;
    border-radius: 5px;
}

.hide{

    display: none;
}